/* toutes les pages*/

div 
{
      display: flex;
      justify-content: center;
      align-items: center;
}

.logo 
{
      width : 25%;
}

body
{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header ul li 
{
      display: inline-block;
      margin-right: 10px;
}
header ul li a
{
      display: inline-block;
      margin-right: 20px;
}

ul
{
      list-style-type: none;
      display: inline-block;
      margin: 0 auto 20px auto;
      padding: 10px;
}
    
li::before
{
      display: inline;
      position: relative;
      width: 1em;
      height: 1em;
      top: 0.2rem;
      margin-right: 0.4rem;
      background-size: contain;
}

li
{
     color: #001D6E;
}
    
li:hover
{
    color: #bb0b0b;
}

h1
{
    color: #bb0b0b;
    text-align: center;
    margin-bottom: 10px;
}
   
h2
{
    color: #bb0b0b;
    text-align: center;
    margin-bottom: 10px;
  }


h3
{
    color: #001D6E;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 20px;
}

table
{
    border-collapse: collapse;
}
  
th, td
{
    color: #001D6E;
    border: 1px solid ;
    padding: 10px;
    text-align: center;
}
  
#texte 
{
    color: #001D6E;
    line-height: 1.5;
}

#textgauche 
{
  color: #001D6E;
  text-align: left;
  line-height: 1.5;
}

section {
  margin-bottom: 100px;
}



	
	


 /*un peu d'histoire*/
 
 #histoire
{
  width: 25%;
  margin-left: 20px;
}

#membre 
{
  width: 25%;
  margin-left: 20px;
}


  #container 
{
  width: 50%;
  line-height: 1.5;
}

.content 
{
  padding: 25px;
  text-align: center;
  
}
   

  



/* salle de sport*/

#salle 
{
  width: 400px;
  height: 400px;
  display: inline;
  margin:20px;
  text-align: center;
}

#wrapper
{
  width: 50%;
  display: flex;
  justify-content: space-between;
}

/* les entraineurs*/

.photoentr1 img
{
   width: 50%;
   justify-content: center;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 75px;
}

.photoentr2 img
{
    width: 50%;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
}

.p1
{
  background: #ffffff96;
  width: 470px;
  height: 100px;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, .1);
  border-radius: 5px;
  display: flex;
  padding: 30px;
  margin: -25px;
  transform: translate(-50%, 185%);
  line-height: 1.5;
}

.p2
{
  background: #ffffff96;
  width: 470px;
  height: 100px;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, .1);
  border-radius: 5px;
  display: flex;
  padding: 30px;
  margin: -25px;
  transform: translate(-50%, 185%);
  line-height: 1.5;
}

p
{
  color: #001D6E ;
  padding-left: 25px;
  text-align: center;
  line-height: 1.5;
}

p a
{
  margin-left: 10px;
}

a
{
  text-decoration: none;
  color: #001D6E;
  display: inline-block;
  margin-top:  20px;
}

a:hover{
  color: #bb0b0b;
}

/*membres*/

.membre img
{
  width: 50%;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px;
  
   
}

/*formulaire*/

body {
  font-family: Arial, sans-serif;

  margin: 0;
  padding: 0;
}

.container1 {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #001D6E;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover 
{
  background-color: #001D6E;
}



#confirmation
{
  padding-top: 20px;
  display: none; 
  text-align: center; 
  color: #bb0b0b;
  font-size: 20px;
}

/*formulaire tel adress*/

.contact-card {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-info {
  font-size: 18px;
}

/* Style pour les icônes */
.contact-icon {
  margin-right: 10px;
  color: #001D6E
}

/*map*/

#map 
{
  
  margin-top: 100px;
  height: 400px;
  width: 100%;
  color: #001D6E;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
  
}





/*footer*/

footer img
{
  margin-top: 150px;
  width: 15%;
}
